node redflow.txt
[{"id":"5591469c.14f948","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"48ad9a8d.3d3f54","type":"ibmiot in","z":"5591469c.14f948","authentication":"apiKey","apiKey":"74614cf5.b666f4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":240,"wires":[["87392f5c.3012","c79d40fa.9dae2","d3713b57.df09e8","7cb283a0.edd13c"]]},{"id":"87392f5c.3012","type":"debug","z":"5591469c.14f948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":240,"wires":[]},{"id":"c79d40fa.9dae2","type":"function","z":"5591469c.14f948","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["87392f5c.3012","5d991f2b.7082f"]]},{"id":"d3713b57.df09e8","type":"function","z":"5591469c.14f948","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":320,"wires":[["87392f5c.3012","4eb6e289.65e0dc"]]},{"id":"7cb283a0.edd13c","type":"function","z":"5591469c.14f948","name":"Moisture","func":"global.set('soilmoisture',msg.payload.soilmoisture)\nmsg.payload=msg.payload.soilmoisture\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["87392f5c.3012","cb390f9e.6838a"]]},{"id":"5d991f2b.7082f","type":"ui_gauge","z":"5591469c.14f948","name":"","group":"97b58e5f.8b413","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"c","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":160,"wires":[]},{"id":"4eb6e289.65e0dc","type":"ui_gauge","z":"5591469c.14f948","name":"","group":"97b58e5f.8b413","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":320,"wires":[]},{"id":"cb390f9e.6838a","type":"ui_gauge","z":"5591469c.14f948","name":"","group":"97b58e5f.8b413","order":3,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":400,"wires":[]},{"id":"9e86711.7e5b89","type":"ui_button","z":"5591469c.14f948","name":"","group":"97b58e5f.8b413","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOROFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":290,"y":760,"wires":[["ce109431.fc9598","c062d177.97d86"]]},{"id":"d5c4c12a.0d156","type":"ui_button","z":"5591469c.14f948","name":"","group":"97b58e5f.8b413","order":3,"width":0,"height":0,"passthru":false,"label":"MOTORON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":290,"y":640,"wires":[["ce109431.fc9598","c062d177.97d86"]]},{"id":"ce109431.fc9598","type":"ibmiot out","z":"5591469c.14f948","authentication":"apiKey","apiKey":"74614cf5.b666f4","outputType":"cmd","deviceId":"123456","deviceType":"Raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":640,"wires":[]},{"id":"bb69fe28.75dc8","type":"http in","z":"5591469c.14f948","name":"data","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":90,"y":460,"wires":[["964f7884.f5ef18"]]},{"id":"762118e9.2c6aa8","type":"http response","z":"5591469c.14f948","name":"","statusCode":"","headers":{},"x":590,"y":460,"wires":[]},{"id":"964f7884.f5ef18","type":"function","z":"5591469c.14f948","name":"","func":"msg.payload={'temperature':global.get(\"temperature\"),'Humidity':global.get(\"Humidity\"),'soilmoisture':global.get(\"soilmoisture\")}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":460,"wires":[["762118e9.2c6aa8"]]},{"id":"137329d9.e85d76","type":"http in","z":"5591469c.14f948","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":120,"y":520,"wires":[["caf43e45.b96b9"]]},{"id":"6535b065.0e5b6","type":"http response","z":"5591469c.14f948","name":"","statusCode":"","headers":{},"x":590,"y":520,"wires":[]},{"id":"caf43e45.b96b9","type":"function","z":"5591469c.14f948","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":520,"wires":[["6535b065.0e5b6","732cbbdf.95ea74","ce109431.fc9598"]]},{"id":"732cbbdf.95ea74","type":"debug","z":"5591469c.14f948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":560,"wires":[]},{"id":"c062d177.97d86","type":"debug","z":"5591469c.14f948","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":760,"wires":[]},{"id":"74614cf5.b666f4","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"97b58e5f.8b413","type":"ui_group","z":"","name":"Default","tab":"2f7a345d.82ce4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f7a345d.82ce4c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]